<section class="form-main">
    <form action="" >
        <mat-card class="mat-card">
            <mat-card-header class="title">Registro de usuarios </mat-card-header>
            <mat-card-content class="mat-card-content">
               
                <p class="input-box">
                    <mat-label >Nombres</mat-label>
                    <input type="text"  placeholder="Escriba el nombre">
                </p>
                <p class="input-box" >
                    <mat-label>Apellidos</mat-label>
                    <input type="text"   placeholder="Escriba los apellidos">
                </p>
                <p class="input-box" >
                    <mat-label>Documento</mat-label>
                    <input type="text"   placeholder="Escriba el numero de documento">
                </p>
                <p class="input-box">
                    <mat-label >Celular</mat-label>
                    <input type="text"  placeholder="Escriba el numero de celular">
                </p>
                <p class="input-box">
                    <mat-label >Correo</mat-label>
                    <input type="text"  placeholder="Escriba el correo">
                </p>
                <p class="input-box">
                    <mat-label >Direccion</mat-label>
                    <input type="text"  placeholder="Escriba la direccion">
                </p>
            </mat-card-content>
            <div >
                <button mat-flat-button class="btn">Guardar</button>
            </div>
      
        </mat-card>
    </form>
</section>
