.main-container{
    width: 100%;
   
}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.logo{
    width: 10%;
    display: inline-block;
    padding-left: 50px;
    border-radius: 35%;
}
.top-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;
}

.top-container span{
    font-size: 17px;
    cursor: pointer;
}



nav{
    background-color: #1b5ca7;
    height: 70px;
    display: flex;
    align-items: center; /* Alinea los elementos internos en el centro verticalmente */
    justify-content: space-between; /* Separa el menú y la barra de búsqueda */
    padding: 0 20px; /* Añade relleno horizontal para evitar que los elementos toquen los bordes */
    margin: 0; 

}

nav .menu {
    color:white;
    font-size: 20px;
    right: 20px;
    padding: 0 20px;
    text-align:unset;
    display: flex;
    align-items: center; /* Esto centra verticalmente los hijos */
}

button{
    border: none;
}
.menu-icon{
    cursor: pointer;
    font-size: 24px;
    border: none;
    
}
.menu-options{
    text-align: center;
    margin: 2px 2px 2px 2px;
}
.style{
    text-decoration: none;
    font-size: 17px;
    font-weight: 400;
    color:black;
    right: 20px;
    padding: 0px 0 0 1px;
    display: inline-block;
    text-align: center;
   
}

.horizontal-list {
    display: flex;
    list-style: none;
    padding: 0;
  }

  .horizontal-list li {
    margin-right: 10px;
  }

  .user-dropdown{
    cursor: pointer;
  }

 
  .user-dropdown mat-icon{
    vertical-align: middle; 
    margin-right: 5px;  
  }

  .dropdown-content {
    border-radius: 5%;
    background-color:rgba(255, 255, 255, 0.8);
    border: 1px;
    cursor: pointer;
    display: none;
    position:fixed
   
  }
  .dropdown-content button {
    display: flex;
    width: 100%; 
    border: none; 
    text-align: left; 
    padding: 10px; 
    background-color: transparent; 
    cursor: pointer;
    margin: 5px 0; 
}

.dropdown-content mat-icon {
    vertical-align: middle; 
    margin-right: 5px; 
}

.dropdown-content a {
    color: black; 
    text-decoration: none; 
}

  .user-dropdown:hover .dropdown-content {
    display: block;
  }

  .container-menu{
    width: 30%;
    flex: 0 0 auto; /* Esto previene que el contenedor del menú crezca o se encoja */
    padding-left: 20px;
  }

  .search-container {
    display: flex; /* Esto asegura que los elementos internos se alineen horizontalmente */
    justify-content: flex-end; /* Alinea el formulario de búsqueda hacia la derecha */
    padding-right: 550px; /* Añade un poco de espacio a la derecha */
    align-items: center; /* Centra los elementos en el eje vertical */
    height: 100%; /* Asegúrate de que el contenedor tenga altura para centrar los elementos internos */
    flex-grow: 1; /* Esto hará que la barra de búsqueda ocupe el espacio restante */
    margin: 0;
  }
  
  .search-container form {
    display: flex; /* Utiliza flexbox para alinear el input y el botón */
    border: 1px solid #ccc; /* Borde del formulario, ajusta el color según tu diseño */
    border-radius: 20px; /* Borde redondeado para el formulario */
    overflow: hidden; /* Asegura que los hijos no sobresalgan del borde redondeado */
    margin: 0px;
    align-items: center;

    height: 35px;
    width: 100%;
    
    
  }
  
  .search-container input {
    flex-grow: 1; /* Permite que el input crezca y llene el espacio disponible */
    border: none; /* Elimina el borde del input */
    padding: 10px 20px; /* Añade algo de relleno dentro del input */
    margin: 0;
    height: 20px;
    width: 100%;
   
  }
  
  .search-container button {
    background-color: #084387; /* Color de fondo para el botón, usa el color principal de tu tema */
    border: none; /* Elimina el borde del botón */
    padding: 10px 20px; /* Relleno del botón */
    cursor: pointer; /* Cambia el cursor a una mano cuando pasa sobre el botón */
    color: white; /* Color del ícono dentro del botón */
    margin: 0;
  }
  
