.form-main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40vh;
  padding: 0 1.5em;
  background-color: #ECF0F1;
}

.registration-form {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 70px;
  background-color: #ECF0F1;
}

.mat-card {
  border-radius: 15px;
  background-color: #1b5ca7;
  font-weight: 500;
}

.title {
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: #FFFFFF;
  color: #000000;
  border-radius: 15px 15px 0 0;
  font-weight: 500;
  font-size: 27px;
}

.mat-card-content {
  display: grid;
  grid-template-columns: repeat(2, minmax(250px, 1fr));
  gap: 20px;
  padding: 30px;
  background-color: #1b5ca7; /* Matching the form background */
}

.mat-form-full-width {
  width: 100%;
}

/* Styles for Angular Material form fields */
.mat-form-field {
  width: 100%;
  border-radius: 4px;
  background-color: #FFFFFF; /* White background for input fields */
}

.mat-form-field .mat-input-element {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  color: #000000; /* Black text for input fields */
}

/* Angular Material does not use 'input' directly, but the class is kept for consistency */
input.mat-input-element {
  padding: 20px;
  font-size: 16px;
  line-height: 1.5;
  border: none; /* Remove default border */
  outline: none; /* Remove focus outline */
}

/* Placeholder color */
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #7F8C8D;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #7F8C8D;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #7F8C8D;
}

.button-container {
  text-align: center;
  justify-content: center;
  padding: 20px;
}

button.btn {
  background-color: #00ac00;
  color: #FFFFFF; /* White text for buttons */
  padding: 10px 20px;
  border-radius: 4px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button.btn:hover {
  background-color: #00FF00;
}

button.btn:focus {
  outline: none;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .mat-card-content {
    grid-template-columns: 1fr;
  }
}
