<section class="form-main">
    <form action="" >
        <mat-card class="mat-card">
            <mat-card-header class="title">Registro de incidencias </mat-card-header>
            <mat-card-content class="mat-card-content">
               
                <p class="input-box">
                    <mat-label >Numero ticket</mat-label>
                    <input type="text" >
                </p>
            
                <p class="input-box" >
                    <mat-label>Fecha de creación</mat-label>
                    <input type="date"   placeholder="Escriba los apellidos">
                </p>
                <mat-form-field appearance="outline" class="mat-form">
                    <mat-label class="option">Tipo de incidente</mat-label>
                    <mat-select class="option" placeholder="Selecciona...">
                        <mat-option value="option">Daño diadema</mat-option>
                        <mat-option value="option">Daño mouse</mat-option>
                        <mat-option value="option">Daño pantalla</mat-option>
                        <mat-option value="option">Resetear contraseña</mat-option>
                        <mat-option value="option">Pc no enciende</mat-option>
                        <mat-option value="option">Instalar aplicativos</mat-option>
                        <mat-option value="option">Resetear pc</mat-option>
                        <mat-option value="option">Otro</mat-option>
                    </mat-select>
                </mat-form-field>
                <p class="input-box">
                    <mat-label >Descripción</mat-label>
                    <input type="text"  placeholder="Explicacion breve del daño">
                </p>
                <p class="input-box">
                    <mat-label >Fecha de cierre</mat-label>
                    <input type="date"  >
                </p>
                <p class="input-box">
                    <mat-label >Estado</mat-label>
                    <input type="text"  placeholder="">
                </p>
                
            </mat-card-content>
            <div >
                <button mat-flat-button class="btn">Guardar</button>
            </div>
      
        </mat-card>
    </form>
</section>
